.margins-center {
    width: fit-content;
    margin: 2rem auto;
}

.border,
.border:focus {
    border: 3px solid grey;
    border-radius: 0.1rem;
}

.hidden {
    display: none;
}

.flex-horizontal {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.flex-space-around {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

.flex-align-center {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.grid-2-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.width-40-rem {
    width: 40rem;
}

.text-align-right {
    text-align: right;
}