.margins-center {
    width: fit-content;
    margin: 2rem auto;
}

.border {
    border: 3px solid grey;
    border-radius: 0.1rem;
}

.flex-horizontal {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-align-center {
    display: flex;
    align-items: center;
}

.width-40-rem {
    width: 40rem;
}