* {
    font-family: 'futura-pt', Tahoma, Verdana, sans-serif;
}

h3 {
    font-size: 2rem;
    text-align: center;
}

.subtitle {
    font-size: 2rem;
}

.fs-200 {
    font-size: 1rem;
}

.fs-500 {
    font-size: 1.5rem;
}

.fs-900 {
    font-size: 3rem;
}